[Unit]
Description=Patroni
After=network.target

[Service]
Type=simple
User=postgres
Environment=PATH=/opt/patroni_venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/patroni_venv/bin/patroni /etc/patroni.yml
Restart=always

[Install]
WantedBy=multi-user.target

